@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

.glass-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  background: linear-gradient(180deg, #2a2d32 0%, #161719 99.17%);
  box-shadow: 36px 40px 56px 0px rgba(0, 0, 0, 0.19);
}

.glass-top-sheet {
  position: absolute; /* Чтобы позиционировать его относительно родителя */
  top: 15px; /* Позиция сверху */
  left: 50%; /* Начальная позиция на 50% */
  transform: translateX(-50%) translateY(-100%);
  width: 80%;
  max-width: 258px;
  z-index: 10;
  height: 456px;
  border-radius: 0px 0px 90px 90px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
}

.glass-top-sheet_open {
  top: 0px;
}

.unlock-btn {
  display: flex;
  flex-direction: row;
  /* height: 77px; */
  width: 178px;
  height: 77px;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* flex-shrink: 0; */
  border-radius: 40px;
  background: linear-gradient(274deg, #17171c 3.68%, #18191b 46.42%);
  box-shadow: -9px -9px 20px 0px rgba(255, 255, 255, 0.04) inset,
    9px 9px 20px 0px rgba(0, 0, 0, 0.3) inset;
}

.unlock-icon-btn {
  width: 50px;
  height: 50px;
  background: linear-gradient(274deg, #17171c 3.68%, #18191b 46.42%);
  box-shadow: -9px -9px 20px 0px rgba(255, 255, 255, 0.04) inset,
    9px 9px 20px 0px rgba(0, 0, 0, 0.3) inset;
  border-radius: 50%;
}

.container {
  position: relative; /* Для позиционирования элемента-потомка */
  height: 100%; /* Чтобы контейнер занимал полную высоту */
}

.navigation-button {
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.21);
  background: #24272c;
}

.image-test {
  color: #ededed;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "SF Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.blur-effect {
  backdrop-filter: blur(10px); /* Эффект размытия */
  -webkit-backdrop-filter: blur(10px); /* Для Safari */
  background-color: rgba(
    25,
    26,
    29,
    0.7
  ); /* Полупрозрачный фон, чтобы размытие было заметно */
}

.mobile-bottom-blur {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* Настройте это значение по желанию */
  z-index: 10; /* Убедитесь, что этот элемент выше остальных */
}

.blur {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px; /* Ширина области размытия */
  height: 300px; /* Высота области размытия */
  backdrop-filter: blur(10px); /* Степень размытия */
  border-radius: 20px; /* Закругление углов (по желанию) */
  overflow: hidden;
  z-index: 1000; /* Чтобы элемент был поверх других элементов */
  width: 508px;
  height: 518px;
  border-radius: 518px;
  background: rgba(86, 204, 242, 0.1);

  filter: blur(100px);
}

.blur-half-circle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px; /* Ширина полукруга */
  height: 100px; /* Высота полукруга */
  background: rgba(86, 204, 242, 0.50); /* Полупрозрачный фон */
  border-top-left-radius: 100px; /* Радиус скругления для создания полукруга */
  border-top-right-radius: 100px;
  filter: blur(100px); /* Эффект размытия */
  z-index: 0; /* Полукруг позади других элементов */
}

.checkbox-container {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkbox-container.checked {
  background-color: #4caf50; /* Цвет активного состояния */
}

.switch {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

.checkbox-container.checked .switch {
  transform: translateX(30px); /* Смещение для активного состояния */
}

button {
  border: none;
  background: none;
  outline: none;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

/* Анимация нажатия */
.pressed {
  transform: scale(0.95); /* Уменьшаем кнопку при нажатии */
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); */
}